h1 { color: blue; }

div{
  text-align: center;
}

body{
  background-color: white;
}

table{
  border: 15px solid black;
  padding: 50px;
}

ul{
  border: 15px solid black;
  padding: 50px;
}

.me{
  color: red;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    background-color: #f9f9f9;
}

input, textarea {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid gray;
    width: 100%;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
